QPushButton
{
	border-width:1px;
	border-radius: 10px;
	min-width: 5em;
	padding: 2px;
	background-color:#CCC;
}
QPushButton:hover
{
background-color:#DDDDDD;
border-radius: 10px;
}
QPushButton:pressed
{
background-color:#FFFFFF;
border-radius: 10px;
}
QPushButton:checked
{
border: none;
}